@model List<KursAM2C.Models.DataModel.Emploee>

@{
    ViewBag.Title = "Кадры";
}

<h2>Справочник сотрудников</h2>
<div class="addBlock">
    <form action="/Employees/Create" method="post">
        <label>Имя</label>
        <input name="FirstName" type="text" />
        <label>Фамилия</label>
        <input name="LastName" type="text" />
        <label>Отчество</label>
        <input name="SecondName" type="text" />
        <input type="submit" class="button" value="добавить" />
    </form>
</div>
<div class="table-container">
    <table>
        <tr>
            <td>Фамилия</td>
            <td>имя</td>
            <td>Отчество</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td>@item.SecondName</td>
                <td>
                    @Html.ActionLink(" ", "Remove",
                             new { id = item.Tablenumber },
                             new { @class = "delete-button" })
                </td>
            </tr>
        }
    </table>
</div>