@using KursAM2C.Models
@model List<KursAM2C.Models.MenuModel>

@helper BuildMenu(IEnumerable<MenuModel> data, int? parentId = null)
{
    var mainItem = data.Where(_ => _.ParentId == parentId);
    if (mainItem.Any())
    {
        var number = 0;
        <ul class="menu" id="menu">
            @foreach (var i in mainItem)
            {
                <li class="menu__list"><a>@i.Name</a>@if (i.Id == 1)
                                                                                                    {
                                                                                                        <img src="~/Content/images/icons/user.png"/>
                                                                                                    }<ul class="menu__drop">
                        @if (data.Any(_ => _.ParentId == i.Id))
                        {
                            foreach (var sub in data.Where(_ => _.ParentId == i.Id))
                            {
                                <li><a href="@sub.StrLink">@sub.Name</a></li>
                            }
                        }
                    </ul></li>
                    
                }
        </ul>
    }
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        MenuMove();
    });

    function MenuMove() {
        var menuIsOpen = false;
        if (menuIsOpen == false) {
            $("#menu-button").click(function () {
                if (menuIsOpen == false) {
                    $('#content').animate({ left: "250px" }, 200);
                    $('#side').animate({ left: "0" }, 200);
                    menuIsOpen = true;
                } else {
                    $('#content').animate({ left: "0px" }, 200);
                    $('#side').animate({ left: "-250px" }, 200);
                    menuIsOpen = false;
                }
            });
        }
    }
</script>
<div class="side" id="side">
    <div id="menu-button"></div>
    @BuildMenu(Model)
</div>


