################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe
*.pdb
*.dll
/.vs
/Calculates/bin/Debug
/KursStart/bin/Debug
/LayoutManager/bin/Debug
/LayoutManager/obj/Debug
/packages
/PeriodManager/bin/Debug
/PeriodManager/obj/Debug
/Reports/bin/Debug
/Reports/obj/Debug
/ServerCalculate/bin/Debug
/ServerCalculate/obj/Debug
/KursStart/obj/Debug
/KursAM2.Tests/bin/Debug
/KursAM2.Tests/obj/Debug
/KursAM2v3/bin/Debug
/KursAM2v3/GenViewModel/bin/Debug
/KursAM2v3/GenViewModel/obj/Debug
/KursAM2v3/obj/Debug
/ServerCalculate.Tests/bin/Debug
/ServerCalculate.Tests/obj/Debug
/SQLite.Base/bin/Debug
/SQLite.Base/obj/Debug
/Updater/bin/Debug
/Updater/obj/Debug
/Updater.Tests/bin/Debug
/Updater.Tests/obj/Debug
/VersionGenerate/obj/Debug
/GenerateDataContract.Tests/bin/Debug
/Calculates/obj/Debug
/Calculates.Tests/bin/Debug
/Calculates.Tests/obj/Debug
/Core/bin/Debug
/Core/obj/Debug
/Core.Tests/bin/Debug
/Core.Tests/obj/Debug
/CoreView/bin/Debug
/CoreView/obj/Debug
/Data/bin/Debug
/Data/obj/Debug
/DevExpress/bin
/DevExpress/obj/Debug
/FinanceAnalitic/bin/Debug
/FinanceAnalitic/obj/Debug
/GenerateDataContract/bin/Debug
/GenerateDataContract/obj/Debug
/Helper/bin/Debug
/Helper/obj/Debug
/GenerateDataContract.Tests/obj/Debug
/KursWPFFormTest/bin/Debug
/KursWPFFormTest/obj/Debug
obj
bin
/KursAM2v3/App.config
