$menu-color: #3d3d3d;
$side-width: 310px;
$menu-height: 50px;
$sideColor: #f5f5ff;
$sideHoverColor: #e9edff;
$dropMenuColor: #506d91;
$dropHoverColor: #61b7b4;

#kostul {
    height: $menu-height;
    background-color: $menu-color;
    width: auto;
}

.side {
    font-size: 11pt;
    height: 3000px;
    position: fixed;
    left: -$side-width+60px;
    width: $side-width;
    background-color: $sideColor;
    font-weight: 400;
    border-right: solid 2px #8ba4c3;
    margin-top: -1px;
    .menu {
        margin-top: 40px;
    }

    #menu-button {
        position: absolute;
        right: 18px;
        top: 5px;
        width: 25px;
        height: 25px;
        background-image: url('../images/icons/menu.png');
        background-size: cover;
        cursor: pointer;
        float: left;
    }

    a {
        text-decoration: none;
        color: #4d698c;
        display: block;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        line-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu__list {
        text-transform: uppercase;
        text-align: right;
        position: relative;
        padding-right: 60px;

        img {
            position: absolute;
            right: -3px;
            top: 5px;
            margin-right: 20px;
            width: 30px;
            line-height: 40px;
        }

        &:hover {
            background-color: $sideHoverColor;

            ul {
                display: block;
            }
        }
    }

    .menu__drop {
        margin-left: 1px;
        font-size: 10pt;
        text-align: center;
        width: 100%;
        position: absolute;
        z-index: 99999;
        left: 100%;
        top: 0;
        background-color: $dropMenuColor;
        display: none;

        a {
            color: white;
            font-weight: 300;
        }

        li:hover {
            background-color: $dropHoverColor;
        }
    }

    .menu__list::after {
        content: " ";
        position: absolute;
        border: 5px solid;
        border-color: transparent transparent transparent #98cada;
        top: 15px;
        right: 0px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .menu__list:hover::after {
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}
