
.table-container {
    margin-left: 15px;

    tr:hover {

        .delete-button {
            display: block;
        }
    }

    .delete-button {
        display: none;
    }

    table {
        font-weight: 300;
        border-collapse: collapse;
    }

    td {
        padding: 5px;
    }

    tr:first-child {
        font-weight: 400;
    }
}
