@using System.Web.Optimization
@{
    Layout = null;
    @Styles.Render("~/Content/css/style.css");
}

<p>Use this area to provide additional information.</p>
<div style="height: 100px; background-color: black"></div>
