body {
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.LoginFormMine {
    overflow: hidden;
    margin: auto;
    width: 500px;
    height: 100%;
    background-color: #40566a;
    text-align: center;
    bottom: 0;
    color: white;
    font-weight: 300;
}

.LoginFormMine li {
    list-style-type: none;
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.LoginFormMine ul {
    margin: 0;
    margin-top: 15px;
    padding: 0;
}

.Login-button {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #6daa6d;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        background-color: #90e59e;
    }
}

.AuthArea input {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    height: 30px;
    width: 250px;
    color: black;
}

.h2 {
    font-size: 30px;
}
