<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="Kurs.ConnectionString" value="metadata=res://*/Data.ALFAMEDIA.csdl|res://*/Data.ALFAMEDIA.ssdl|res://*/Data.ALFAMEDIA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=ALFAMEDIA;persist security info=True;MultipleActiveDocumentsSets=True;App=EntityFramework&quot;"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Mvvm.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.19.0" newVersion="15.2.19.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpf.Grid.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.19.0" newVersion="15.2.19.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpf.Grid.v15.2.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.19.0" newVersion="15.2.19.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.19.0" newVersion="15.2.19.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpf.Core.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.19.0" newVersion="15.2.19.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpf.Controls.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.19.0" newVersion="15.2.19.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="ALFAMEDIAEntities" connectionString="metadata=res://*/ALFAMEDIA.csdl|res://*/ALFAMEDIA.ssdl|res://*/ALFAMEDIA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=main8;initial catalog=AlfaNew;user id=sa;password=,juk.,bnyfc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="KursSystemEntities" connectionString="metadata=res://*/KursSystem.csdl|res://*/KursSystem.ssdl|res://*/KursSystem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=KursSystem;persist security info=True;user id=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2016White</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
