<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error" internalLogFile="c:\Users\vmizh\nlog-internal.log">

	<variable name="ex" value="myvalue"/>
	<variable name="userName" value="myvalue"/>
	<variable name="programName" value="myvalue"/>

	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>

		<target name="database"
				xsi:type="Database"
				keepConnection="true"
				useTransactions="true"
				dbProvider="System.Data.SqlClient"
				connectionString="Data Source=Main9;Initial Catalog=KursSystem;User Id=KursUser;Password=KursUser">
			<!--
  Script for creating the dbo.Log table.
      
  SET ANSI_NULLS ON
  SET QUOTED_IDENTIFIER ON
  CREATE TABLE [dbo].[Log] (
	  [Id] [int] IDENTITY(1,1) NOT NULL,
	  [MachineName] [nvarchar](50) NOT NULL,
	  [Logged] [datetime] NOT NULL,
	  [Level] [nvarchar](50) NOT NULL,
	  [Message] [nvarchar](max) NOT NULL,
	  [Logger] [nvarchar](250) NULL,
	  [Callsite] [nvarchar](max) NULL,
	  [Exception] [nvarchar](max) NULL,
    CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
      WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
  ) ON [PRIMARY]
  -->

			<commandText>
				INSERT INTO dbo.Log ( MachineName,Level,Message,Logger,Callsite,ProgramName, UserName)
				VALUES ( @MachineName,  @Level, @Message, @Logger, @Callsite, @progName, @userName );
			</commandText>

			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Callsite" layout="${callsite}" />
			<parameter name="@progName" layout="${var:programName}" />
			<parameter name="@userName" layout="${var:userName}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" maxlevel="Error" final="true" writeTo="database" />
	</rules>
</nlog>
