.table-container {
  margin-left: 15px; }
  .table-container tr:hover .delete-button {
    display: block; }
  .table-container .delete-button {
    display: none; }
  .table-container table {
    font-weight: 300;
    border-collapse: collapse; }
  .table-container td {
    padding: 5px; }
  .table-container tr:first-child {
    font-weight: 400; }
